<h1>Welcome to Highr</h1>

<p>
  The highr app is a simple platform that managers of small establishments can use to
  list job openings. Applicants can quickly create an account through facebook and
  submit 'bids' for positions that interest them. Managers can then see
  'bids' associated with their post and look at applicant profiles.
</p>
<h2><%= link_to "Sign In with Facebook", '/auth/facebook' %></h2>
