<h3><%= link_to post.title, post %><%= " " + pluralize(post.bids.size, 'bid') %></h3>
<p>
  <%= "Listed by #{post.manager.username}" %>
</p>
<h4> Description: </h4>
<p>
  <%= post.description %>
</p>
