/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #F2E6B6;
  min-height: 600px;
}
header {
  background: #8F9E8B;
  height: 100px;
}
main {
  width: 80%;
  margin: 10px auto;
  padding: 20px;
  background-color: #412A22;
  color: #8F9E8B;
}
main a{
  color: #8F9E8B;
}
nav {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
nav ul{
  padding-left: 0px;
  border: solid black 2px;
  border-radius: 10px;
  background: #5B7876;
  display: flex;
  justify-content: flex-end;
  order: 0;
}

nav li{
  list-style: none;
  margin: 10px;
}

nav a{
  color: #8F9E8B;
}
.post{
  border: solid black 1px;
  color: #292929;
  background-color: #5B7876;
  margin:10px;
  padding: 0 20px;
}
